{% extends "layout.html" %}

{% block title %} Quote {% endblock %}

{% block main %}
<div class="mb-3">
  <form action="/quote" method="post">
    <fieldset>
      <legend>Current Stock Prices</legend>
    <input list="exampleSymbols" autofocus class="form-control mx-auto w-auto" name="symbol" placeholder="Stock Tag" type="text">
    <datalist id="exampleSymbols">
      <option value="NFLX">
      <option value="TSLA">
      <option value="WMT">
      <option value="DELL">
      <option value="ADSK">
      <option value="BP">
    </datalist>
      <br>
      <input class="form-control mx-auto w-auto" type="submit" value="submit">
    </fieldset>
  </form>
</div>
  <hr><br>
  {% block quote %}{% endblock %}

  {% endblock %}
