{% extends "layout.html" %}

{% block title %} Quote {% endblock %}

{% block main %}
<form action="/quote" method="post">
  <div class="mb-3">
    <input list="exampleSymbols" autofocus class="form-control mx-auto w-auto" name="symbol" placeholder="Stock Tag" type="text">
    <datalist id="exampleSymbols">
      <option value="NFLX">
      <option value="TSLA">
      <option value="WMT">
      <option value="DELL">
      <option value="ADSK">
      <option value="BP">
  </div>
</form>
<hr><br>
{% block quote %}{% endblock %}

{% endblock %}
